 <%= flash[:notice] %> 

<h1>Candidate List</h1>

<%= link_to "New Candidate", new_candidate_path %>

<table>
    <tbody>
        <thead>
            <tr>
                <td>Name</td>
                <td>Party</td>
                <td>Politics</td>
                <td>Votes</td> 
            </tr>
        </thead>
    <tbody>
        <% @candidates.each do |candidate| %>
        <tr>
            <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
            <td><%= candidate.age %></td>
            <td><%= candidate.party %></td>
            <td><%= candidate.politics %></td>
            <td><%= candidate.votes %></td>
        </tr>
        <% end %>
    </tbody>
</table>





